/* Fonts */

@font-face {
  font-family: "Muli";
  src: url(/font/muli-regular-webfont.woff2) format("woff2"),
    url(/font/muli-regular-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "MuliItalic";
  src: url(/font/muli-italic-webfont.woff2) format("woff2"),
    url(/font/muli-italic-webfont.woff) format("woff");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuliSemiBold";
  src: url(/font/muli-semibold-webfont.woff2) format("woff2"),
    url(/font/muli-semibold-webfont.woff2) format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "MuliBold";
  src: url(/font/muli-bold-webfont.woff2) format("woff2"),
    url(/font/muli-bold-webfont.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Colors */

:root {
  --primary-color-light: #236cd3;
  /* --primary-color-light: #2d79e4; */
  --footer-color-light: #f5f5f5;
  --body-color-light: #ffffff;
  --text-color-light: #0a1b33;
  --btn-color-light: #ffffff;
  --accent-color-light: #0c203d;
  --toggle-rotate-light: 180deg;

  --primary-color-dark: #236cd3;
  --footer-color-dark: #10294d;
  --body-color-dark: #0a1b33;
  --text-color-dark: #ffffff;
  --btn-color-dark: #ffffff;
  --accent-color-dark: #0c203d;
  --toggle-rotate-dark: 0deg;

  --scrollbar-color-dark: #10294d;
  --scrollbar-color-light: #e4e4e4;

  --code-light: #2934463a;
  --code-dark: #4f5a6848;

  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--primary-color-dark);
    --footer-color: var(--footer-color-dark);
    --body-color: var(--body-color-dark);
    --text-color: var(--text-color-dark);
    --btn-color: var(--btn-color-dark);
    --accent-color: var(--accent-color-dark);
    --toggle-rotate: var(--toggle-rotate-dark);
    --code-color: var(--code-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: var(--primary-color-light);
    --footer-color: var(--footer-color-light);
    --body-color: var(--body-color-light);
    --text-color: var(--text-color-light);
    --btn-color: var(--btn-color-light);
    --accent-color: var(--accent-color-light);
    --toggle-rotate: var(--toggle-rotate-light);
    --code-color: var(--code-light);
  }
}

[color-scheme="dark"] {
  --primary-color: var(--primary-color-dark);
  --footer-color: var(--footer-color-dark);
  --body-color: var(--body-color-dark);
  --text-color: var(--text-color-dark);
  --btn-color: var(--btn-color-dark);
  --accent-color: var(--accent-color-dark);
  --toggle-rotate: var(--toggle-rotate-dark);
  --code-color: var(--code-dark);
}

[color-scheme="light"] {
  --primary-color: var(--primary-color-light);
  --footer-color: var(--footer-color-light);
  --body-color: var(--body-color-light);
  --text-color: var(--text-color-light);
  --btn-color: var(--btn-color-light);
  --accent-color: var(--accent-color-light);
  --toggle-rotate: var(--toggle-rotate-light);
  --code-color: var(--code-light);
}

/* ! Base Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  font-family: "Muli", sans-serif;
  font-weight: 500;
  line-height: 1.63;
  overflow-x: hidden !important;
  scroll-padding-top: 2rem;
}

body {
  position: relative;
  background-color: var(--body-color);
  color: var(--text-color);
}

/* Utilities */

h1 {
  font-family: MuliBold, sans-serif;
  font-size: 2.8rem;
  margin: 2.3rem auto 2.3rem 0;
  max-width: 700px;
  overflow-wrap: break-word;
}

h2 {
  font-family: MuliBold, sans-serif;
  font-size: 2.5rem;
  margin: 2.1rem auto;
}
h3 {
  font-family: MuliBold, sans-serif;
  font-size: 2.1rem;
  margin: 1.9rem auto;
}
h4 {
  font-family: MuliBold, sans-serif;
  font-size: 1.9rem;
  margin: 1.7rem auto;
}
p {
  font-family: Muli, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1.6rem auto;
}

strong {
  font-family: MuliBold, sans-serif;
  font-weight: 500;
}

blockquote {
  background-color: #10294d1e;
  border-left: 0.8rem solid #10294d;
  /* border-left: 0.6rem solid #6494d6; */
  padding: 2rem 1.5rem 2rem 2rem;
  font-weight: 500;
  border-radius: 0.3rem;
  font-family: "Muli", sans-serif;
  margin: 3rem auto 3rem 0;
  max-width: 800px;
}

blockquote > p {
  font-size: 1.65rem !important;
  font-weight: 500;
  margin: 0.6rem 0;
  line-height: 1.75;
}
ol {
  font-family: Muli, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 1.5rem auto;
  padding: 0;
  list-style: none;
  counter-reset: listCounter;
}

ul {
  font-family: Muli, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 1.5rem auto;
  padding: 0;
}

ol > li {
  padding-left: calc(1.65em + 0.7vw);
  position: relative;
  counter-increment: listCounter;
  margin-bottom: 1em;
}
ul > li {
  padding-left: calc(1.65em + 0.7vw);
  position: relative;
  margin-bottom: 1em;
  list-style-type: none;
}

ol > li::before {
  content: counter(listCounter, decimal-leading-zero);
  font-size: 1.45rem;
  font-weight: 700;

  color: var(--primary-color);
  left: 0.7rem;
  position: absolute;
  padding-top: 0.4rem;
}
ul > li::before {
  content: counter(listCounter, disc);
  font-size: 2.1rem;
  font-weight: 700;
  border-radius: 100%;
  color: var(--primary-color);
  left: 0.7rem;
  position: absolute;
  padding-top: 0rem;
  padding-right: 0.2rem;
}
ul > li > ul > li::before {
  content: counter(listCounter, circle);
  font-size: 2.25rem;
  font-weight: bold;

  color: var(--primary-color);
  left: 0.7rem;
  position: absolute;
  padding-top: 0rem;
}
ul > li > ul > li > ul > li::before {
  content: counter(listCounter, square);
  font-size: 2.1rem;
  font-weight: 700;

  color: var(--primary-color);
  left: 0.7rem;
  position: absolute;
  padding-top: 0rem;
}

li {
  margin: 2rem 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover,
a:focus {
  text-decoration: underline;
}

img {
  border: 0.18rem solid var(--accent-color);
  width: 100%;
  max-width: 480px; /* Maximum width of the image */
  height: auto; /* Maintain aspect ratio */
  margin: 2rem auto;
  display: block; /* Center the image */
  border-radius: 0.8rem;
  border-color: #f1f1f1;
  box-shadow: 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.1);
  object-fit: cover;
  object-position: 50% 50%;
  padding: 0.5rem;
}

/* Additional styling for images inside paragraphs */
p > img {
  display: block; /* Ensures the image behaves as a block element */
  margin: 2rem auto; /* Center the image */
  max-height: 500px; /* Limit the height of the image */
}

table {
  /* padding: 2rem; */
  padding-bottom: 2rem;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  scrollbar-color: var(--footer-color-dark) #e9e9e9;
  scrollbar-width: thin;
  border-radius: 0.2rem;

  border-collapse: collapse;
  margin: 2.5rem auto;

  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0 0.2rem rgba(153, 111, 111, 0.2);
  display: block;
  font-family: Muli, sans-serif;
  white-space: wrap;
}

table::-webkit-scrollbar {
  width: 1rem;
}

table::-webkit-scrollbar:horizontal {
  height: 1rem;
}

table::-webkit-scrollbar-track {
  background-color: #e9e9e9;
  border-radius: 1rem;
}
table::-webkit-scrollbar-thumb {
  background-color: var(--footer-color-dark);
  border-radius: 1rem;
}

table thead tr {
  background-color: var(--accent-color);
  color: var(--text-color-dark);
  text-align: left;
  font-family: "MuliBold", sans-serif;
  text-transform: capitalize;
  border: 0.2rem solid var(--accent-color);
  /* border-right: .2rem solid var(--footer-color); */
}

table th,
table td {
  border-bottom: 0.02rem solid #071b335e;

  padding: 1.2rem 1.5rem;
  font-family: "MuliSemiBold", sans-serif;
  font-weight: 500;
  text-transform: none;
  border-right: 0.1rem solid #071b335e;
  border-left: 0.1rem solid #071b335e;
  line-height: 2.8rem;
}

table th {
  font-size: 1.7rem;
  font-family: "MuliSemiBold", sans-serif;
  font-weight: 500;
}
table td {
  font-size: 1.6rem;
  font-family: "Muli", sans-serif;
  font-weight: 500;
}
table tbody tr {
  border-bottom: 0.1rem solid #071b336e;
  /* background-color: hsla(215, 77%, 54%, 0.15); */
}
table tbody tr:nth-of-type(even) {
  background-color: var(--footer-color);
  color: var(--text-color);
}
table tbody tr:last-of-type {
  border-bottom: 0.15rem solid var(--footer-color);
}

.container {
  padding: 0 2rem;
}

/* Header */

#Tooabstractive {
  font-size: 16.4px;
  text-align: center;
  align-items: center;
}

#Rectangle_8 {
  width: 30px;
  height: 30px;
}
.logo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 5.9rem !important;
  width: 100vw;
  background-color: var(--body-color);
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 1000 !important;
}

header .container {
  /* background-color: #e4e4e4; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5.9rem !important;
  width: 100vw;
  background-color: var(--body-color);
  position: fixed !important;
  /* position: sticky !important; */
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 1000 !important;
}

.toogle-mode-with-harmburger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.toggle-mode {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transform: rotate(var(--toggle-rotate));
  outline: none;
}

.toggle-mode svg:is(:hover, :focus) {
  opacity: 0.8;
}

/* ! Menu icon style */

.menu-icon {
  /* margin-left: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.35rem;

  border-radius: 0.2rem;
  /* height: 50%; */
  /* z-index: 3000; */
  cursor: pointer;
}

.menu-line-one,
.menu-line-two,
.menu-line-three {
  height: 0.2rem;
  width: 2.3rem;
  background-color: var(--text-color);
  margin: 0.25rem;
  border-radius: 0.2rem;
  transition: transform 200ms ease-in-out;
}

.line-one {
  transform: rotate(-45deg);

  position: relative;
  top: 1px;
}
.line-two {
  transform: rotate(-45deg);
  display: none;
}

.line-three {
  transform: rotate(-135deg);
  position: relative;
  top: -6px;
}

/*  Header Navbar style */

header nav {
  height: calc(100vh - 5.9rem);
  position: absolute;
  top: 5.9rem;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;

  text-align: center;

  background-color: var(--body-color);
  /* display: none; */
  opacity: 0;
  pointer-events: none;
}

.nav-active {
  display: block;
  transition: opacity 250ms ease-in-out;
  opacity: 1;
  pointer-events: all;
}
.nav-active ul {
  padding-top: 4rem;
  padding-left: 0;
  padding-right: 0;
}
.nav-active ul > li::before,
.pagination > .page-item::before {
  content: none;
}

.pagination > .page-item {
  padding-left: 0;
}

.logo-text-none {
  display: none;
}

header nav li {
  list-style-type: none;
  margin: 1.5rem 0;
}

header nav a {
  color: var(--text-color);
  font-family: "MuliBold", sans-serif;
  font-size: 2rem;
  text-decoration: none;
}

header nav a:hover,
header nav a:focus {
  color: var(--primary-color);
  text-decoration: none;
}
/* ! Hero section style */

section.hero {
  background-color: var(--body-color);
}
.hero .container {
  background-color: var(--body-color);
  height: 100%;
  display: grid;

  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.hero .grid {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-content h2 {
  font-family: MuliSemiBold, sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin: 0;
}

.hero-content h2:nth-child(2) {
  margin-bottom: 2.2rem !important;
}
.hero-content h3 {
  font-family: Muli, sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  font-size: 1.6rem;
  text-align: center;
}

a.hero-btn {
  display: block;
  width: fit-content;
  margin: 2.2rem auto;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--btn-color);
  padding: 1.1rem 1.4rem;
  border-radius: 0.8rem;
}

.hero-svg {
  margin-top: 2.2rem;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Main Section */

section.main {
  margin: 3rem auto;
}

.main .explore-more {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.explore-more h2 {
  font-size: 1.9rem;
  font-family: MuliBold, sans-serif;
  position: relative;
}

.explore-more h2:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  height: 0.8rem;
  width: 7rem;
  border-radius: 5rem;
  background-color: var(--primary-color);
}

.explore-more-card {
  /* background-color: #746d19; */
  margin-top: 5rem;
  display: grid;
  /* max-width: 36rem; */
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  gap: 3rem;
}

.engineering-grasped,
.ebook-resources,
.tech-stuff,
.productivity-writing {
  height: 200px;
  border-radius: 0.8rem;
}

.engineering-grasped,
.ebook-resources,
.tech-stuff,
.productivity-writing {
  display: flex;
}
.engineering-grasped img,
.ebook-resources img,
.tech-stuff img,
.productivity-writing img {
  padding: 4rem 2rem;
  border: 0.18rem solid var(--accent-color);
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: inline-block;
  border-radius: 0.8rem;
  aspect-ratio: 1 / 0.7;
  box-shadow: 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.1);
}
.engineering-grasped a,
.ebook-resources a,
.tech-stuff a,
.productivity-writing a {
  font-size: 1.7rem;
  font-family: MuliBold, sans-serif;
  color: var(--btn-color);

  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  margin-top: 5rem;
  margin-left: 3.5rem;
  margin-right: 1.5rem;
}
.engineering-grasped a:hover,
.ebook-resources a:hover,
.tech-stuff a:hover,
.productivity-writing a:hover {
  color: var(--primary-color);
}

.explore-icon-box {
  background-color: var(--accent-color);

  width: 18rem;
  height: 100%;
  border-radius: 0.8rem 0 0 0.8rem;
}
.explore-icon-box .span {
  margin: 50% 25%;
  width: 100%;
  font-size: 4.5rem;
  display: inline-block;
}
.explore-content-box {
  background-color: #10294d;
  width: 100%;
  border-radius: 0 0.8rem 0.8rem 0;
}

/* Youtube content */

.youtube-content-box {
  display: none;
  margin-top: 4rem;
}
.youtube-content-box > h2 {
  font-size: 1.9rem;
  font-family: MuliBold, sans-serif;
  position: relative;
}

.youtube-content-box > h2:after {
  content: "";
  /* display: inline-block; */
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  height: 0.8rem;
  width: 7rem;
  border-radius: 5rem;
  background-color: var(--primary-color);
}
.youtube-content-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  position: relative;
  gap: 3rem;
  margin-top: 5rem;
}
.youtube-content {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.youtube-content iframe {
  border: 0;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden !important;
  box-shadow: 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.2);
}

/* Recent Post Section */

.main .recent-posts {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.recent-posts > h2,
.explore-by-tag > h2 {
  font-size: 1.9rem;
  font-family: MuliBold, sans-serif;
  position: relative;
}

.recent-posts > h2:after,
.explore-by-tag > h2:after {
  content: "";
  /* display: inline-block; */
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  height: 0.8rem;
  width: 7rem;
  border-radius: 5rem;
  background-color: var(--primary-color);
}

.recent-posts-card {
  /* background-color: #746d19; */
  margin-top: 5rem;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  gap: 3rem;
}

.explore-by-tag-card {
  margin-top: 5rem;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.explore-by-tag-card a {
  padding: 0.7rem 1.2rem 1rem;
  font-family: MuliSemiBold, sans-serif;
  font-weight: 500;
  font-size: 1.645rem;
  border-radius: 0.5rem;
}
.explore-by-tag-card a:nth-child(even) {
  background-color: #d68e21;
  color: #fff;
}
.explore-by-tag-card a:nth-child(odd) {
  background-color: #1d7bd3;
  color: #fff;
}

.recent-post-box {
  height: 32rem;

  box-shadow: 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.08);
}

.recent-post-img {
  height: 14rem;
  min-height: auto;
  width: auto;
  border-radius: 0.8rem 0.8rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1rem;
  overflow: hidden;
}

img.img-in-recent-post {
  display: inline;
  max-width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.75rem 0.75rem 0 0;
  padding: 0.1rem;
  margin: 0;
  min-height: auto;
}
.recent-post-heading {
  padding: 0.5rem 1.5rem 2rem;
  height: 18rem;
  background-color: var(--accent-color);
  border-radius: 0 0 0.8rem 0.8rem;
  box-shadow: 0 0.4rem 0.8rem hsla(0, 0%, 0%, 0.08);

  display: flex;
  flex-direction: column;

  position: relative;
}
.recent-post-heading h2 {
  font-family: MuliBold, sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  margin-left: 0;
  color: var(--btn-color);
}
.recent-post-heading .read-more {
  font-family: MuliSemiBold, sans-serif;
  font-weight: 500;
  font-size: 1.645rem;

  color: #0084ff;
  /* color: var(--primary-color); */
  position: absolute;
  bottom: 2rem;
}

.recent-post-btn {
  display: block;
  margin-top: 5rem !important;
  margin: 5rem auto;
}

/* ! Footer section */

footer {
  background-color: var(--footer-color);
  padding: 4rem 0 2rem 0rem;
  width: 100%;

  margin-top: 5rem;
  position: static !important;
  bottom: 0;
  left: 0;
  right: 0;

  /* display: none; */
}

.footer-content-block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  gap: 2rem;
  padding: 1rem;
}
ul.footer-ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0.8rem;
}
ul.footer-ul li {
  padding: 0;
  margin: 0;
}
ul.footer-ul > li::before {
  list-style-type: none !important;
  content: none;
}
.footer-content-block a {
  text-decoration: none;
}

footer h2 {
  font-size: 1.95rem;
  font-family: "MuliBold", sans-serif;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  color: var(--primary-color);
}

footer h2:first-of-type {
  margin-top: 2.5rem;
}

footer h3 {
  font-size: 1.7rem;
  font-family: "MuliBold", sans-serif;
  margin-bottom: 1.2rem;
  margin-top: 0.6rem;
}

footer a {
  font-size: 1.52rem;
  font-family: "Muli", sans-serif;
  line-height: 2.9rem;
  color: var(--text-color);
  text-decoration: none;
}
footer a:hover,
footer a:focus {
  color: var(--primary-color);
}

.footer-connect a {
  padding: 0.2rem;
}

img.footer-icon {
  max-width: 2.3rem;
  display: inline;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.trademark {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trademark p {
  font-size: 1.4rem;
  font-family: "Muli", sans-serif;
  text-align: center;
  line-height: 1.6;
}
.trademark p:last-of-type {
  margin-top: 0;
}

.trademarkplus {
  font-size: 1.4rem;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.6;
  flex-wrap: wrap;
  padding: 2.5rem;
  border-top: 0.1rem solid #2223251c;
}

.trademarkplus a {
  margin: 0 0.6rem;
  color: #222325;
}

.logo-footer {
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 760px) {
  img {
    border: 0.18rem solid var(--accent-color);
    width: 100%;
    max-width: 500px; /* Maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    min-height: 280px;
    margin: 2rem auto;
    display: block; /* Center the image */
    border-radius: 0.8rem;
    border-color: #f1f1f1;
    box-shadow: 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.1);
    object-fit: cover;
    object-position: 50% 50%;
    padding: 0.5rem;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .recent-posts-card,
  .explore-more-card,
  .youtube-content-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  }

  .container-grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    /* flex-direction: row; */
    gap: 2rem;
    position: relative;
  }

  .sidebar {
    min-width: auto;
    width: 100%;
    max-width: 30rem;
    margin-top: 2.5rem;
  }

  .single-page-container {
    max-width: 860px;
  }
  .carousel-container {
    /* max-width: 1150px; */
    margin-right: 50%;
  }

  .carousel-nav {
    width: 50% !important;
  }

  .hero .grid {
    grid-template-columns: 1fr 1fr;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    padding-left: 5rem;
  }

  .hero-svg svg {
    width: 30rem;
    height: 30rem;
  }

  .hero-content h2,
  .hero-content h3 {
    align-self: flex-start !important;
    text-align: start !important;
    margin-left: 0;
  }

  .hero-btn {
    align-self: flex-start !important;
    margin: 2.2rem 0 !important;
  }

  .recent-post-btn {
    display: inline-block;
    margin-top: 5rem !important;
  }

  .abstractive__info-form form textarea,
  .abstractive__info-form form input[type="email"],
  .abstractive__info-form form button {
    width: 36rem;
  }
}

.snippet-container {
  margin: 3rem 0 4rem;
  background-color: #0b2444;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;

  padding: 2rem 2rem 4rem;
  border-radius: 1rem;
  color: #fff;
}

.snippet__text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.abstractive__info-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 1rem 1.8rem;
}

.abstractive__info-form form {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}

.abstractive__info-form form textarea,
.abstractive__info-form form input[type="email"],
.abstractive__info-form form button {
  width: 30rem;
}

form textarea {
  width: 100%;

  height: 20rem;
  display: inline-block;
  border: 0;
  padding: 1.2rem 0.8rem;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 0.6rem !important;
  scrollbar-color: var(--primary-color) #e2e2e2;
  scrollbar-width: thin;
  outline: 0;
  box-shadow: 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.1);
  border: 0.2rem solid var(--primary-color);
}

.abstractive__info-form textarea::-webkit-scrollbar {
  width: 1rem;
}

.abstractive__info-form textarea::-webkit-scrollbar:horizontal {
  height: 1rem;
}

.abstractive__info-form textarea::-webkit-scrollbar-track {
  background-color: #e9e9e9;
  border-radius: 1rem;
}
.abstractive__info-form textarea::-webkit-scrollbar-thumb {
  background-color: var(--footer-color-dark);
  border-radius: 1rem;
}

.abstractive__info-form input[type="email"] {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 4rem;
  display: inline;
  border: 0;
  padding: 1.2rem 0.8rem;
  border-radius: 0.6rem !important;

  outline: 0;
  box-shadow: 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.1);
  border: 0.2rem solid var(--primary-color);
}

.abstractive__info-form button {
  width: 100%;
  margin-top: 1rem;
  outline: none;
  padding: 0.85rem;
  border: 0;
  border-radius: 0.6rem !important;

  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.75rem;
  font-family: MuliBold, sans-serif;
  cursor: pointer;
}

.abstractive__info-form span {
  color: var(--primary-color);
  margin-top: 1.5rem;
  font-size: 1.3rem;
  text-align: center;
}

.snippet-container .snippet__text-content > h2 {
  font-size: 2.2rem;
  font-family: MuliBold, sans-serif;
  position: relative;
}

.snippet-container .snippet__text-content > h2:after {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: calc(100% / 3);
  height: 0.8rem;
  width: 9rem;
  border-radius: 5rem;
  background-color: var(--primary-color);
}

.snippet-container p {
  font-size: 1.5rem;
  font-family: Muli, sans-serif;
  text-align: center;
  margin: 3.5rem 0;
}

.swiper-container {
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.all-posts-carousel {
  overflow-y: hidden !important;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  z-index: 10;
}

.all-posts-next {
  right: 10px;

  background-color: #0084ff;
  border-radius: 50%;
}

.all-posts-prev {
  left: 10px;
  background-color: #0084ff;
  border-radius: 50%;
}
/* Customize the size of the arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  width: 35px !important; /* Adjust arrow width */
  height: 35px !important; /* Adjust arrow height */
  background-size: contain !important; /* Ensure background fits button size */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important; /* Adjust icon size if using a font icon */
}

/* Optional: adjust arrow positioning */
.swiper-button-next {
  right: 10px !important;
}

.swiper-button-prev {
  left: 10px !important;
}
/* hjhkl; */
/* Custom scrollbar styles for WebKit browsers */
.all-posts-carousel {
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #333 #e0e0e0; /* For Firefox */
}

.all-posts-carousel::-webkit-scrollbar {
  width: 8px;
  display: none !important;
}

.all-posts-carousel::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  display: none !important;
}

.all-posts-carousel::-webkit-scrollbar-thumb {
  background-color: transparent; /* Transparent handle */
  border-radius: 10px;
  background-image: radial-gradient(circle, #333 40%, transparent 50%),
    radial-gradient(circle, #333 40%, transparent 50%),
    radial-gradient(circle, #333 40%, transparent 50%);
  background-position: center top, center center, center bottom;
  background-size: 5px 5px;
  background-repeat: no-repeat;
  display: none !important;
}

/* Hover effect */
.all-posts-carousel::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* For Firefox */
.all-posts-carousel {
  scrollbar-width: thin;
  scrollbar-color: #333 #f1f1f1;
}
