{{ define "main"}}

<!--! Our post section -->

<section class="post-page-hero">
  <div class="container single-page-container">
    <h2>Contact Us &#9742;</h2>
    <h3>Say something!</h3>
  </div>
</section>

<section class="content-section">
  <div class="container single-page-container">
    <br /><br />
    <p>
      Feel free to get in touch with us on any stuff that might look abstractive
      to you, cheers. We're waiting to hear from you.
      <br />
      <br />
      <a class="at-connect" href="mailto:connect@tooabstractive.com"
        >Connect with us! &#128640;</a
      >
    </p>
  </div>
</section>
{{ end }}
