<div class="snippet-container">
  <div class="snippet__text-content">
    <h2>What’s on Your Mind &#129300;</h2>
    <p>
      Is there any abstractive question on your mind? <br />
      share it and let see if we can help.
    </p>
  </div>

  <div class="abstractive__info-form">
    <form name="submit-to-google-sheet">
      <textarea
        name="Abstractive_texts"
        placeholder="Enter what's on your mind..."
        required="required"
      ></textarea>
      <input
        type="email"
        name="Email_List"
        placeholder="Enter your email - so as to reach out!"
        required
      />
      <button type="submit">Submit</button>
      <span id="msg"></span>
    </form>
  </div>
</div>
