{{/*  {{ $youtubeJson := getJSON
"https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fwww.youtube.com%2Ffeeds%2Fvideos.xml%3Fchannel_id%3DUCm814Any5c0GvOrRCUE3z8g"}}
{{ range ($youtubeJson.items) | first 2 }} {{$id := slicestr .link 32 }}  

<div class="youtube-content">
  <iframe
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    "
    loading="lazy"
    ;
    srcdoc="<style>
      * {
      margin: 0;
      overflow: hidden;
      }
      body, html {
        height: 100%;
        
  font-family: MuliSemiBold, sans-serif;
      }
      img, svg {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      svg {
        filter: drop-shadow(.8px .8px 8px hsl(206.5, 70.7%, 8%));
        transition: all 250ms ease-in-out;
      }
      body:hover svg {
        filter: drop-shadow(.8px .8px 8px hsl(206.5, 0%, 10%));
        transform: scale(1.2);
      }
    </style>
    <a href='https://www.youtube.com/embed/{{ $id }}?autoplay=1'>
    </a>
    "
    src="https://www.youtube.com/embed/{{$id}}"
    title="{{ .title }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  >
  </iframe>
  <!--   <img src='https://img.youtube.com/vi/{{ $id }}/hqdefault.jpg' alt='{{ .title }}'>
      <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
     -->
</div>
{{end}}

*/}}