{{define "main"}}

<section class="post-page-hero">
  <div class="container">
   <h2>Oops! We couldn't found that page</h2>
      <h3>But we got you covered - by looking through this category</h3>
     </div>
</section>

    <div class="container single-page-container" >

     
  <h2 class="h2-after">Categories</h2>
    <div class="tag-to-others">
      <!-- <li>
        <a class="tto-emag" href="/categories/electromagnetics/">
          Electromagnetics
        </a>
      </li> -->
      <li>
        <a class="tto-pfe" href="/categories/productivity-and-writings/">
          Productivity + Writings</a
        >
      </li>
      <li>
        <a class="tto-ca" href="/categories/circuit-analysis/">
          Circuit Analysis
        </a>
      </li>
      <li>
        <a class="tto-pfe" href="/categories/maths-and-fun/">
          Maths For Noobs
        </a>
      </li>
      <li>
        <a class="tto-ca" href="/categories/electronics/"> Electronics </a>
      </li>
      <li>
        <a class="tto-pfe" href="/categories/networking-and-communication/">
          Networking and Comm.</a
        >
      </li>
      <li>
        <a class="tto-ca" href="/categories/signals-and-systems">
          Signals and Systems
        </a>
      </li>
      <li>
        <a class="tto-ca" href="/categories/how-to-tech"> How to's + Tech</a>
      </li>
      <li>
        <a class="tto-pfe" href="/categories/digital-electronics/">
          Digital Electronics
        </a>
      </li>
         <li>
        <a class="tto-ca" href="/categories/science-stuff/"> Science Stuff </a>
      </li>
    </div>
    <br>
    <a href="/" class="hero-btn">Back to homepage</a> </div>

</body>

</html>

{{end}}