{{ $ytid := .Get 0 }} {{ $title := .Get 1 }}

<div style="width: 100%; max-width: 55rem">
  <div
    style="
      position: relative;
      padding-bottom: 56.15%;
      height: 0;
      overflow: hidden;

      box-shadow: 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.2);
      border-radius: 1rem;
      max-width: 100%;
    "
  >
    <iframe
      style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
      "
      src="https://www.youtube.com/embed/{{ $ytid }}"
      title="{{ $title }}"
      frameborder="1"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>
</div>
